<div class="columns">
    <div class="column">
        <form action="/visitantes/registrar" method="POST">
            <label for="nombre" class="label">Escribe tu nombre:</label>
            <input class="input is-primary" type="text" placeholder="Jorge" id="nombre" name="nombre"/>
            <br><br>
            <input type="submit" id="boton_personaje" class="button is-primary" value="Guardar">
        </form>
    </div>
</div>