<%- include('includes/_header.ejs') %>

<% for (let visitante of visitantes) { %>
    <div class="card">
        <div class="card-content">
            <p class="title">
            <%= visitante.nombre %>
            </p>
        </div>
    </div>
<% } %>
